/* You can add global styles to this file, and also import other style files */

html {
    scroll-behavior: smooth;
}

.fundo-inicio {
    background-color: rgb(0, 0, 125);
}

.text-color {
    color: azure;
}

.fonte-inicio {
    font-size: 65px;
}

.fs-18 {
    font-size: 20px;
}